.chatOnlineFriend{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.chatOnlineImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border:1px solid white
}

.chatOnlineImageContainer{
  position: relative;
  margin-right: 10px;
}

.chatOnlineBadge{
  width: 10px;
  height: 10px;
  background-color: limegreen;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
}