.Auth{
  display: flex;
  align-items:center;
  justify-content:center;
  height: 80vh;
  gap:4rem;
  position: relative;
}

.Auth>div{
  display:flex;
  align-items:center;
  justify-content:center;
}

.a-left>img{
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.Webname>h1{
  font-size: 3rem;
  /* background-color: darkgoldenrod; */
}
.Webname>h6{
  font-size: 0.85rem;
  /* background-color: rgb(186, 146, 45); */
}

.infoForm{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  gap: 2rem;
}

.infoInput{
  
  border: none;
  outline: none;
  background-color: #fffeff;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoForm>div{
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton{
  width: 6rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: hwb(294 38% 13%);
  border-radius: 8px;
  align-self: flex-end;
  /* hwb(272 0% 3% / 0.512); */
}

.authForm{
  
  background-color:   #d6afe2b4 ;
  border-radius: 1rem;
  padding: 3rem;
  /* rgba(171, 130, 188, 0.822); */
}

.authForm>div{
  width: 100%;
  align-items: center;
  justify-content: center;
}
